{% extends 'layout.html' %}
{% load staticfiles%}
{% block content %}
<section class="goods_section">
    <div class="mypoint">
        <div class="mypoint_p1">나의 포인트: {{ user.point }} Point</div>
    </div>
    <br>
    <br>
    <div class="goods_header">
        <p class="goods_h1">BASKIN</p>
        <p class="goods_h2">ROBBINS</p>
    </div>
    

    <div class="goods">
        <!--브랜드 이미지 누르면 넘어가는 html 만들어야됨-->
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000 point</div>
        </div>
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000원</div>
        </div>
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000원</div>
        </div>
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000원</div>
        </div>
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000원</div>
        </div>
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000원</div>
        </div>
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000원</div>
        </div>
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000원</div>
        </div>
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000원</div>
        </div>
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000원</div>
        </div>
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000원</div>
        </div>
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000원</div>
        </div>
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000원</div>
        </div>
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000원</div>
        </div>
        <div class="one_goods">
            <a type="button" class="goods_img_but" href="{% url 'situation' %}">
                <img class="goods_img" src="{% static 'img/쿼터.png'%}">
            </a>
            <br>
            <div class="brand_name"> 쿼터 사이즈</div>
            <div class="goods_price"> 15000원</div>
        </div>
    </div>
</section>
{% endblock %}
