{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
  <!-- 로그인 -->
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-t-50 p-b-90">
        <!-- <form class="login100-form validate-form flex-sb flex-w"> -->
          <span class="login100-form-title p-b-51">
            Login
          </span>
  
  
          <!-- <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
            <input class="input100" type="text" name="username" placeholder="Username">
            <span class="focus-input100"></span>
          </div>
  
  
          <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
            <input class="input100" type="password" name="pass" placeholder="Password">
            <span class="focus-input100"></span>
          </div>
  
          <div class="flex-sb-m w-full p-t-3 p-b-24">
            <div class="contact100-form-checkbox">
              <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
              <label class="label-checkbox100" for="ckb1">
                Remember me
              </label>
            </div>
  
            <div>
              <a href="#" class="txt1">
                아이디를 잃어버리셨어
              </a>
            </div>
          </div> -->
  
          
            <form method="post" action ="">
                  {% csrf_token %}
                  {{form.as_p}}
            <button class="login100-form-btn" type="submit">Login</button>
            </form>
          
  
        </form>
      </div>
    </div>
  </div>
  
  
  <!--===============================================================================================-->
  <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/animsition/js/anims1ition.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
  <!--==============x=================================================================================-->
  <script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
  <!--===============================================================================================-->
  <script src="js/main.js"></script>
  
  {% endblock %}  